/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-04-2017, 12:11:13
    Author     : Pva
*/
/* Full-width input fields */

body {
    background: url('../img/fogbackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 1px #000000;     
}
h2 {
    color: white;
    font-family: 'Droid Serif', serif;    
}

#makeLink{
    background: rgba(0, 70,135,1);
    border: 0px;
}

#makeLink:hover{
    color: white;
    background: white;
}


#makeLink2{

    background: rgba(0, 70,135,1);   

}

#undertitle{
    color: white;
    text-shadow: 2px 2px 1px #000000;
}

#test {

    background-color: darkblue;
}

.jumbotron{
    background: rgba(0, 70, 135, 1);
}


#loginbox {
    background: transparent;
}
