/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-04-2017, 12:11:13
    Author     : Pva
*/
.html { 
    background: url('../img/fogbackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body { background-color: transparent; }


#navbar-color.navbar-default { /* #003399 - #0033cc */
    font-size: 14px;
    background-color: rgba(0, 70, 135, 1);
    background: -webkit-linear-gradient(top, rgba(0, 70, 135, 1) 0%, rgba(0, 70, 135, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 70, 135, 1) 0%, rgba(0, 70, 135, 1) 100%);
    border: 0px;
    border-radius: 0;
}
#navbar-color.navbar-default .navbar-nav>li>a:hover,
#navbar-color.navbar-default .navbar-nav>li>a:focus,
#navbar-color.navbar-default .navbar-nav>li>ul>li>a:hover, 
#navbar-color.navbar-default .navbar-nav>li>ul>li>a:focus, 
#navbar-color.navbar-default .navbar-nav>.active>a,
#navbar-color.navbar-default .navbar-nav>.active>a:hover,
#navbar-color.navbar-default .navbar-nav>.active>a:focus {  
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
#sidebar-darkblue, #column-darkblue {
    background-color: #333399;
}
#navbar-color.navbar-default .navbar-toggle {
    border-color: #333399;
}
#navbar-color.navbar-default .navbar-toggle:hover,
#navbar-color.navbar-default .navbar-toggle:focus {
    background-color: #3333cc;
}
#navbar-color.navbar-default .navbar-nav>li>a,
#navbar-color.navbar-default .navbar-nav>li>ul>li>a, 
#navbar-color.navbar-default .navbar-brand {
    color: #999999; 
}
#navbar-color.navbar-default .navbar-toggle .icon-bar,
#navbar-color.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-color.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff; 
}
